@use './vars' as *;

.main-color{
    color: $main-color;
}

.second-color{
    color: $second-color;
}

.main-bg-color{
    background-color: $main-bg-color;
}

.second-bg-color{
    background-color: $second-bg-color;
}